{{!-- {{link-to "Secret codez here" 'index'}} --}}

{{!-- <h2>Login page</h2>
<p>Use login / ok</p>

<form {{action 'authenticate' on='submit'}}>
  {{input value=login placeholder='Login'}}<br>
  {{input value=password placeholder='Password' type='password'}}<br>
  <button type="submit">Login</button>
</form> --}}

{{!-- 
<div class="login">
  <div class="content fadeIn">
    <form {{action 'authenticate' on='submit'}} class="login-form">
      
      <div class="form-title text-center">
      	<div class="profile-userpic">
	      <img class="img-responsive center-block sidebar-logo" alt="" src="https://ucarecdn.com/28fceff2-549d-4913-b060-94a568f003a5/perx_logo.png">
	    </div>
        <h3 class='bold'>Welcome to Perx</h3><!-- replace with logo -->
        <p>Login to your account</p>
      </div>
      <div class="form-group">
        <label for="identification" class="control-label">Username</label>
        <div class="input-icon">
          <i class="fa fa-user"></i>
          {{input id='identification' placeholder='Enter Email' value=login class='form-control'}}
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <div class="input-icon">
          <i class="fa fa-lock"></i>
          {{input id='password' placeholder='Enter Password' type='password' value=password class='form-control'}}
        </div>
      </div>

      <div class="login-button">
        <button type="submit">Login</button>
      </div>

      <div class="error-message" style="margin-top: 10px">
        {{#if errorMessage}}
          <div class="alert alert-danger">
            {{errorMessage}}
          </div>
        {{/if}}
      </div>
    </form>
  </div>
</div> --}}




<div class="container login-page">    
  <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
    <div class="row">                
      <div class="iconmelon">
        <img class="img-responsive center-block sidebar-logo" alt="" src="http://vignette2.wikia.nocookie.net/althistory/images/a/a6/Venstre_(Denmark)_Logo.png/revision/latest?cb=20081224190313">

        {{!-- Vishu : This one get style from 'CODE-1' --}}
        {{!-- <svg viewBox="0 0 32 32">
          <g filter="">
            <use xlink:href="#git"></use>
          </g>
        </svg> --}}
      </div>
    </div>
      
    <div class="panel panel-default" >
      <div class="panel-heading">
        <div class="panel-title text-center">Welcome to Dashboard</div>
      </div>     
      <div class="panel-body" >
        {{!-- <form {{action 'authenticate' on='submit'}}  name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST"> --}}
        <form {{action 'authenticate' on='submit'}}  name="form" id="form" class="form-horizontal" enctype="multipart/form-data">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              {{!-- <input id="user" type="text" class="form-control" name="user" {{value login}}placeholder="User">  --}}
              {{input id='identification' placeholder='Enter Username' value=login class='form-control'}}
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            {{!-- <input id='password' placeholder='Enter Password' type='password' {{value password}} placeholder="Password"> --}}
            {{input id='password' placeholder='Enter Password' type='password' value=password class='form-control'}}
          </div>                                                                  
          <div class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls">
                  <button type="submit" href="#" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> Log in</button>                          
              </div>
          </div>
        </form>     
      </div>                     
    </div>  
  </div>
<div id="particles"></div>

</div>
{{!-- <div id="particles"></div> --}}
